language: java

addons:
  chrome: stable

cache:
  directories:
  - "$HOME/.m2"

install: true
jdk: openjdk8

script:
  - mvn surefire:test

branches:
    only:
  - master

before_script:
    - sudo chmod 777 /home/travis/build/ciikhou/spotify-api-tests/src/test/resources/bin/chromedriver