language: java
cache:
  directories:
  - "$HOME/.m2"

install: true
jdk: openjdk8

script:
- mvn surefire:test
branches:
  only:
  - master
before_script:
  - sudo chmod 777 /home/travis/build/ciikhou/spotify-api-tests/src/test/resources/bin/chromedriver
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
notifications:
  email: false